$font-size = hexo-config('font.global-font-size') ? convert(hexo-config('font.global-font-size')) : 16px
$body-bg = #fff
$font-black = #363636

$dafault-font-family = -apple-system, BlinkMacSystemFont, 'SF Pro Display', Lato, Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', Arial, sans-serif
$dafault-code-font = consolas, Menlo, 'PingFang SC', 'Microsoft YaHei', sans-serif
$font-family = hexo-config('font.font-family') ? unquote(hexo-config('font.font-family')) : $dafault-font-family
$code-font-family = hexo-config('font.code-font-family') ? unquote(hexo-config('font.code-font-family')) : $dafault-code-font
