:root
  --global-bg: $body-bg
  --global-font-color: $font-black
  --global-font-size: $font-size
  --global-container: 1400px
  --button-background-color: unset
  --button-foreground-color: unset

html
  line-height: 1.5
  -webkit-text-size-adjust: 100%
  -moz-tab-size: 4
  tab-size: 4

body
  position: relative
  min-height: 100vh
  background: var(--global-bg)
  color: var(--global-font-color)
  font-size: var(--global-font-size)
  font-family: $font-family
  line-height: inherit

.container
  max-width: var(--global-container)
  margin: 0 auto
  padding: 0 40px

#nav
  position: fixed
  width: 100%
  height: 60px
  transition: color .1s ease, background-color .1s ease, height .25s ease
  z-index: 9
  top: 0
  left: 0
  box-sizing: border-box
  border: 0 solid

#nav-backdrop
  position: absoulute
  width: 100%
  height: 100%

.nav-layout
  position: relative
  height: 100%
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 2

.nav-scrolled
  background: hsla(0, 0%, 100%, .5)
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1)

.logo
  display: flex
  align-items: center
  cursor: pointer
  color: inherit
  text-decoration: inherit

.site-logo
  width: 36px
  height: 36px
  margin-right: 10px

.site-name
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  font-size: 20px
  font-weight: 600
  letter-spacing: -.3px

.nav-menu
  display: flex

.menu-list
  display: flex
  list-style: none
  margin: 0
  padding: 0
  justify-content: space-around

.menu-item
  position: relative
  list-style: none
  font-weight: 500
  line-height: 20px
  letter-spacing: -.45px

.menu-dropdown-icon
  display: flex
  justify-content: center
  align-items: center
  width: 10px
  height: 10px
  margin: 2px 0 0 4px

.menu-link
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  width: 100%
  display: flex
  align-items: center
  padding: 12px 20px
  cursor: pointer
  color: #101010
  text-decoration: inherit
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  &:hover .menu-dropdown-icon
    transform: rotate(180deg)

.menu-dropdown
  position: absolute
  overflow: hidden
  height: 1px
  top: -1000px
  border-radius: 10px
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1)
  background: hsla(0, 0%, 100%, .8)
  -webkit-backdrop-filter: blur(15px)
  backdrop-filter: blur(15px)
  opacity: 0
  transition: none

.menu-item-children:hover .menu-dropdown
  top: 28px
  height: auto
  opacity: 1
  transform: translateY(10px)
  transition: transform .3s cubic-bezier(.27, 2.01, .24, .9), opacity .3s ease

.menu-list-nested
  display: block
  min-width: 100px

.menu-item-no-children
  width: 100%
  &:hover
    background-color #eee

.button-solid
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  text-decoration: inherit
  display: inline-block
  text-align: center
  font-weight: 600
  padding: 6px 20px
  border-radius: 99px
  letter-spacing: -.5px
  background: var(--button-background-color)
  color: var(--button-foreground-color)

.cta-blue
  --button-background-color: #0a84ff
  --button-foreground-color: #fff
  &:hover
    --button-background-color: #046fdb
  &:active
    --button-background-color: #2997ff