.cards
  background-color #F5F5F7

.cards-layout
  width: 100%
  display: flex
  justify-content: center

.cards-item
  margin: 0 12px
  transition: all .2s cubic-bezier(0.175, 0.885, 0, 1)
  position: relative
  border-radius: 12px
  overflow: hidden
  background-color #fff
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  if hexo-config('components.library.cards.item.length') == '1'
    width: 100%
  else if hexo-config('components.library.cards.item.length') == '2'
    width: 50%
  else if hexo-config('components.library.cards.item.length') == '3'
    width: 33.3%
  else if hexo-config('components.library.cards.item.length') == '4'
    width: 25%
  else
    display: none
  &:hover
    transform: scale(1.05, 1.05)
    box-shadow: 0px 20px 15px -8px rgba(0, 0, 0, 0.1);
    .cards-img
      height: 100%
      opacity: 0.3

.card-box,
.cards-img
  width: 100%
  height: 350px

.card-box
  visibility: hidden

.cards-img
  transition: 0.2s all ease-out
  position: absolute
  top: 0
  object-fit:cover

.card-info
  padding: 24px
  z-index: 2

.casrd-category
  font-family: sans-serif
  text-transform: uppercase
  font-size: 12px
  letter-spacing: 2px
  font-weight: 500
  color: #868686

.card-title
  margin: 10px 0 20px
  font-size: 20px

.card-link
  font-size: 14px
  font-family: sans-serif
  font-weight: 500
  text-decoration: none
  color: #0a84ff