.video-form
  display: flex
  -webkit-box-align: center
  align-items: center
  -webkit-box-pack: justify
  justify-content: space-between

.video-left
  flex: 0 1 800px
  padding: 50px

.video-right
  flex: 0 1 400px

.video
  width: 100%
  line-height: 0
  text-align: center
  object-fit: contain
  overflow-clip-margin: content-box
  overflow: clip

.video-title
  font-size: 38px
  line-height: 1
  margin: 0 0 30px

.video-ul
  list-style: none
  padding-inline-start: 0px
  margin-top: 50px

.video-info
  font-size: 20px
  font-weight: 600
  margin: 0

.video-p
  font-size: 16px
  font-weight: 400
  margin: 0 0 30px